
.navbar{
    display: flex;
    flex: 1;
    height: 70px;
    border-bottom: 1px solid gray;
    flex-direction: row;
    background-color: #333;
    padding-left: 20px;
    &__left{
        display: flex;
        flex: 0.5;
        align-items: center;
        &-title{
            color: #fff;
            font-size: 30px;
        }
    }
    &__right{
        display: flex;
        flex: 0.5;
        flex-direction: row;
        justify-content: flex-end;
        ul{
            list-style-type: none;
            flex-direction: row;
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            li{
                button{
                    display: block;
                    color: white;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                    background-color: #333;
                    border: none;
                    outline: none;
                    height: 100%;
                    font-size: 15px;
                    cursor: pointer;
                    &:hover{
                        background-color: #111;
                    }
                    &[is-active = true]{
                        background-color: #111;
                    }
                }
            }
        }
    }
}